main {
	color: var(--text);
	background: url(../../../public/homebg.jpeg) center / cover no-repeat fixed;
	.day {
		text-align: center;

		h2 {
			padding: 2.5%;
			padding-bottom: 0;
			font-size: 2.5vw;
			text-shadow: 0 0 5px black;
		}
		article {
			a {
				border: 2px dashed var(--text);
				background: transparent;
				backdrop-filter: blur(10px) brightness(70%);
				display: flex;
				justify-content: space-evenly;
				width: 60%;
				margin: 2% auto;
				border-radius: 2rem;
				gap: 2%;
				padding: 2%;
				// grid-template-columns: repeat(2, 1fr);
				// place-items: center;
				img {
					width: 40%;
					aspect-ratio: 1 / 1;
					object-fit: cover;
					border-radius: 1rem;
					margin: 1%;
				}
				div {
					h3 {
						font-size: 2.5vw;
						text-align: left;
						margin-top: 8%;
						padding-inline: 6%;
						text-shadow: 0 0 5px black;
					}
					text-align: left;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					padding-inline: 0;
					width: 100%;

					div {
						display: flex;
						flex-direction: row;
						justify-content: flex-end;
						padding: 2% 0;
						gap: 1vw;
						p {
							font-size: 1.5vw;
							background-color: #5403a0;
							line-height: 100%;
							padding: 2% 1%;
							width: 30%;
							border-radius: 0.3rem;
							display: grid;
							place-items: center;
							margin: 1%;
							text-shadow: 0 0 2px black;
						}
					}

					ul {
						padding: 10%;
						font-size: 2vw;
						margin-top: 2vh;
						text-shadow: 0 0 5px black;
					}
				}
			}
		}
	}
	.areaContainer {
		text-align: center;

		h2 {
			padding: 3%;
			text-shadow: 0 0 5px black;
			font-size: 2.5vw;
		}
		.areas {
			backdrop-filter: blur(12px) saturate(1%);
			display: flex;
			gap: 1vw;
			overflow-x: scroll;
			padding: 2%;
			a {
				width: fit-content;
				display: inline-block;
				padding: 1%;
				background-color: #ff6d00;
				color: var(--background);
				border-radius: 30% 2%;
				margin-block: 2%;
				font-weight: 600;
				border: 2px solid #e8ccff;
			}
		}
	}
	.categoriesConteiner {
		text-align: center;
		h2 {
			padding: 3%;
			text-shadow: 0 0 5px black;
			font-size: 2.5vw;
		}
		.categories {
			display: grid;
			gap: 5vw;
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
			padding: 5%;
			a {
				width: 100%;
				aspect-ratio: 1 /1;
				display: inline-block;
				padding: 10% 5%;
				background-color: #ff6d00;
				color: var(--background);
				border-radius: 30% 2%;
				margin-block: 2%;
				font-weight: 600;
				border: 2px solid var(--text);
				color: var(--text);
				font-size: 2.5vw;
				background: transparent;
				backdrop-filter: blur(10px);
				text-shadow: 0 0 5px black;

				&:nth-of-type(1) {
					background: url(../../../public/beef.png) center / 70%
						no-repeat;
				}
				&:nth-of-type(2) {
					background: url(../../../public/breakfast.png) top / 100%
						no-repeat;
				}
				&:nth-of-type(3) {
					background: url(../../../public/chicken.png) center / 70%
						no-repeat;
				}
				&:nth-of-type(4) {
					background: url(../../../public/dessert.png) 50% 65% / 70%
						no-repeat;
				}
				&:nth-of-type(5) {
					background: url(../../../public/goat.png) 50% 60% / 70%
						no-repeat;
				}
				&:nth-of-type(6) {
					background: url(../../../public/lamb.png) 50% 60% / 70%
						no-repeat;
				}
				&:nth-of-type(7) {
					background: url(../../../public/hotpot.png) 50% 60% / 70%
						no-repeat;
				}
				&:nth-of-type(8) {
					background: url(../../../public/pasta.png) center / 70%
						no-repeat;
				}
				&:nth-of-type(9) {
					background: url(../../../public/pork.png) center / 70%
						no-repeat;
				}
				&:nth-of-type(10) {
					background: url(../../../public/seafood.png) center / 70%
						no-repeat;
				}
				&:nth-of-type(11) {
					background: url(../../../public/side.png) 50% 60% / 70%
						no-repeat;
				}
				&:nth-of-type(12) {
					background: url(../../../public/starter.png) 50% 60% / 70%
						no-repeat;
				}
				&:nth-of-type(13) {
					background: url(../../../public/vegan.png) 50% 60% / 70%
						no-repeat;
				}
				&:nth-of-type(14) {
					background: url(../../../public/veggi.png) 50% 60% / 70%
						no-repeat;
				}
			}
		}
	}
}

@media only screen and (max-width: 900px) {
	main {
		.day {
			text-align: center;
			h2 {
				font-size: 2.5vh;
			}
			article {
				a {
					padding: 2.5%;
					width: 88%;
					margin: 3% auto;

					div {
						h3 {
							font-size: 2.5vh;
						}
						div {
							gap: 1vh;
							p {
								font-size: 1.5vh;
							}
						}
						ul {
							padding: 10%;
							font-size: 2vh;
						}
					}
				}
			}
		}
		.areaContainer {
			text-align: center;

			h2 {
				padding: 5%;
				text-shadow: 0 0 5px black;
			}
			.areas {
				gap: 1vh;
			}
		}
		.categoriesConteiner {
			text-align: center;
			h2 {
				padding: 5%;
				text-shadow: 0 0 5px black;
			}
			.categories {
				padding: 7%;
			}
		}
	}
}
@media only screen and (max-width: 600px) {
	main {
		.day {
			text-align: center;
			h2 {
				font-size: 2.5vh;
			}
			article {
				a {
					padding: 3%;
					width: 80%;
					margin: 3% auto;

					div {
						h3 {
							font-size: 2vh;
						}
						div {
							gap: 0.5vh;
							p {
								font-size: 1.5vh;
							}
						}
						ul {
							padding: 10%;
							font-size: 1.5vh;
						}
					}
				}
			}
		}
		.areaContainer {
			text-align: center;

			h2 {
				padding: 5%;
				text-shadow: 0 0 5px black;
				margin-top: 0.5vh;
			}
			.areas {
				gap: 1vh;
			}
		}
		.categoriesConteiner {
			text-align: center;
			h2 {
				padding: 5%;
				text-shadow: 0 0 5px black;
			}
			.categories {
				padding: 10%;
				a {
					font-size: 2.5vh;
				}
			}
		}
	}
}
